h1 {
    width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 8px;
    webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    top: 30%;
    left: 50%;
    position: absolute;
    background-color: #4285f4!important;
    color: #fff;
    text-align: center;
}
span{
	display: block;
	text-align: center;;
	color: #fff;
	font-size: 18px;
	font-family: 'lato';
	margin-top: 10px;
}